select, input, textarea {
    width: 100%;
    min-width: 0px;
    outline: transparent solid 2px;
    outline-offset: 2px;
    position: relative;
    appearance: none;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;;
    transition-duration: 200ms;
    font-size: 13px !important;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    height: 3rem;
    border-radius: 15px;
    border: 1px solid #CBD5E0 !important;
    border-style: solid;
    border-image: initial;
    background: inherit;
    /* margin-bottom: 24px; */
}

textarea:focus, 
select:focus, 
input:focus {
    border-color: #4FD1C5 !important;
    box-shadow: 0 0 0 0px #fff, 0 0 0 calc(1px + 0px) #4FD1C5, 0 0 #000;
}

textarea {
    height: auto;
}

button[type="submit"]:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

button[type="submit"] .btn-loader {
    display: none;
    width: 14px;
    height: 14px;
    border: 2px solid transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
    margin-right: 5px;
    transition: all 0.2s;
}

button[type="submit"].is-loading .btn-loader {
    display: inline-block;
}

/* Animation */
@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}