.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 30px;
}

.login-container .login-container-mobile {
    display: none;
    align-items: center;
    margin-bottom: 20px;
}

.login-container .login-container-mobile .login-container-logo {
    width: 40px;
    height: 40px;
    background-image: url('../images/logo-only.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 15px;
    border-radius: 8px;
}

.login-container .login-container-mobile .login-container-title {
    font-size: 28px;
    font-weight: bold;
}

.login-container .login-container-left {
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container .login-container-left form {
    width: 320px;
}

.login-container .login-container-left form h2 {
    color: #4fd1c5;
    font-size: 26px;
    font-weight: bold;
}

.login-container .login-container-left form h3 {
    margin-bottom: 30px;
    color: #A0AEC0;
    font-size: 14px;
}

.login-container .login-container-left form input[type="password"],
.login-container .login-container-left form input[type="email"] {
    border-radius: 15px;
    box-shadow: none;
    font-size: 13px;
    height: 48px;
    padding: 15px 20px;
}

.login-container .login-container-left form input::placeholder {
    color: #aaa;
}

.login-container .login-container-left form button[type="submit"] {
    width: 100%;
    background-color: #4fd1c5;
    margin-left: 0px;
    border-radius: 15px;
    height: 45px;
    justify-content: center;
}

.login-container .login-container-left form .align-center {
    text-align: center;
}

.login-container .login-container-left form .m-t-15 {
    margin-top: 15px;
}

.login-container .login-container-right {
    width: 40vw;
    background-image: url('../images/login.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container .login-container-right h1 {
    font-size: 75px;
    color: #fff;
    font-weight: bold;
}

.install-pwa-button {
    position: fixed;
    top: 15px;
    box-shadow: 3px 3px 12px 4px #dddddd6e;
    border-radius: 50%;
    padding: 8px 18px;
    width: 50px;
    height: 50px;
    right: 20px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .login-container {
        gap: 0px;
        overflow: hidden;
    }

    .login-container .login-container-left {
        width: 100%;
    }

    .login-container .login-container-right {
        width: 0px;
        display: none;
    }

    .login-container .login-container-mobile {
        display: flex;
    }
}