@media screen and (max-width: 1096px) {
    .nav-mobile-bottom {
        margin-bottom: 0px;
    }

    .main-wrapper > .nav {
        margin-left: -260px;
    }

    .main-wrapper main {
        height: calc(100vh - 60px);
        margin-left: 0px;
        padding-bottom: 68px;
        margin-top: 60px;
        width: 100%;
    }

    header {
        height: 60px;
        margin-left: 0px;
        width: 100%;
        border-bottom: 1px solid #eee;
    }

    header > svg {
        display: block;
        position: absolute;
        width: 36px;
        height: 36px;
    }

    header > h2 {
        padding-left: 45px;
    }

    header > h2 > i {
        display: none !important;
    }

    .indent-container-right-item {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .flex {
        flex-wrap: wrap;
    }

    .flex > .col-6 {
        width: 100%;
    }

    .table-wrapper table tbody tr td, 
    .table-wrapper table thead tr th {
        padding: 12px 12px;
        white-space: nowrap;
    }

    .table-wrapper .overflow-x-auto {
        -webkit-overflow-scrolling: touch;
    }

    #ajaxModal > div {
        height: 100%;
    }

    .table-wrapper-action {
        font-size: 0 !important;
        padding: 10px 12px;
    }

    .table-wrapper-action::before {
        content: "\f067";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        display: inline-block;
        font-size: 20px; 
    }

    .indent-order-popup.active {
        display: flex;
        align-items: center;
    }

    #ajaxModalContent {
        overflow-y: auto;
        height: 100vh;
    }
}

@media screen and (max-width: 675px) {
    .indent-container {
        flex-direction: column;
        background-color: transparent;
        padding: 0px;
    }

    .indent-container-header {
        margin-bottom: 0px;
    }

    .indent-container-left {
        width: 100%;
    }

    .indent-container-right {
        width: 100%;
        padding: 0px;
        margin-bottom: 20px;
    }

    .indent-container-left-item {
        background-color: #fff;
    }

    .indent-container-left-list {
        gap: 15px;
    }

    .toast-top-right {
        top: auto !important;
        bottom: 75px;
        left: 12px;
        width: calc(100% - 24px);
    }

    #toast-container > .toast {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    /* List view */
    /* --------------------------------------------------------------------- */
    .table-wrapper {
        background-color: transparent;
        padding: 0px;
        box-shadow: none;
        margin-bottom: 20px;
    }

    .table-wrapper-title {
        width: calc(100% + 40px);
        margin-left: -20px;
        padding: 20px;
        margin-top: -20px;
        background-color: #fff;
    }

    .mobile-card-item {
        display: flex;
        flex-wrap: wrap;
        min-height: 60px;
        background-color: #fff;
        border-radius: 12px;
        padding: 15px;
    }

    .mobile-card-item .mobile-card-item-icon {
        background: rgb(241 245 249);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 14px;
    }

    .mobile-card-item.active .mobile-card-item-icon {
        background-color: #4fd1c441;
        color: #4FD1C5;
    }

    .mobile-card-item .mobile-card-item-left {
        width: 50px;
    }

    .mobile-card-item .mobile-card-item-right {
        width: calc(100% - 50px);
    }

    .mobile-card-item .mobile-card-item-status {
        display: flex;
        gap: 10px;
    }

    .mobile-card-item .mobile-card-item-status-item {
        background: rgb(241 245 249);
        font-size: 12px;
        border-radius: 8px;
        padding: 1px 10px;
        line-height: 15px;
        color: #919191;
    }

    .mobile-card-item .mobile-card-item-status-item.active {
        background-color: #4fd1c441;
        color: #4FD1C5;
    }

    .mobile-card-item .mobile-card-item-title {
        font-size: 17px;
        font-weight: bold;
        margin: 4px 0px;
    }

    .mobile-card-item .mobile-card-item-title span {
        font-size: 12px;
        color: #b7b7b7;
        margin-left: 4px;
        font-weight: normal;
    }

    .mobile-card-item .mobile-card-item-content {
        display: flex;
        gap: 14px;
        color: #676767;
        font-size: 13px;
    }

    .mobile-card-item-swiftopen {
        color: #757575;
        font-size: 22px;
    }

    .mobile-card-item-products {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .mobile-card-item-products-item {
        display: flex;
        align-items: flex-start;
        gap: 5px;
        color: #66797d;
    }

    .mobile-card-item-products-item > i {
        margin-top: 3px;
    }

    .mobile-card-item-products-item:first-child {
        padding-top: 10px;
        border-top: 1px solid #eee;
        margin-top: 10px;
    }

    .mobile-card-item .swiftopen-content {
        flex-basis: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    header h2 {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 500px) {
    .nav-mobile.active {
        width: calc(100% - 40px);
    }
}







/* Card */
.card-mobile-container {
    margin-left: -20px;
    width: calc(100% + 40px);
    margin-top: -12px;
}

.card-mobile {
    width: 100%;
    height: 58px;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 16px;
    border-top: 1px solid #eee;
}

.card-mobile-separator {
    width: 100%;
    height: 30px;
    font-size: 14px;
    color: #a7a7a7;
    font-weight: bold;
    background-color: #fff;
    padding: 0px 16px;
    display: flex;
    align-items: center;
}

.card-mobile-icon {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #51d3c9;
    color: #fff;
    flex-shrink: 0;
}

.card-mobile-content {
    display: flex;
    width: 100%;
}

.card-mobile-content-left {
    line-height: 18px;
}

.card-mobile-content-name {
    font-weight: 600;
    font-size: 15px;
}

.card-mobile-content-subname {
    color: #8b8b8b;
    font-size: 13px;
}

.card-mobile-content-right {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.card-mobile-content-price {
    font-size: 15px;
    font-weight: 600;
}

.card-mobile-content-quantity {
    color: #8b8b8b;
    font-size: 13px;
}

#ajaxModalSlideUpContent .form-modal {
    padding: 20px;
    overflow-y: auto;
    height: calc(100% - 60px);
}