@media screen and (max-width: 1096px) {
    .nav-mobile-bottom {
        margin-bottom: 0px;
    }

    .main-wrapper > .nav {
        margin-left: -260px;
    }

    .main-wrapper main {
        height: calc(100vh - 70px);
        margin-left: 0px;
        padding-bottom: 68px;
        width: 100%;
    }

    header {
        margin-left: 0px;
        width: 100%;
    }

    header > svg {
        display: block;
        position: absolute;
        width: 36px;
        height: 36px;
    }

    header > h2 {
        padding-left: 45px;
    }

    header > h2 > i {
        display: none !important;
    }

    .indent-container-right-item {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .flex {
        flex-wrap: wrap;
    }

    .flex > .col-6 {
        width: 100%;
    }

    .table-wrapper table tbody tr td, 
    .table-wrapper table thead tr th {
        padding: 12px 12px;
        white-space: nowrap;
    }

    .table-wrapper .overflow-x-auto {
        -webkit-overflow-scrolling: touch;
    }

    #ajaxModal > div {
        height: 100%;
    }

    .table-wrapper-action {
        font-size: 0 !important;
        padding: 10px 12px;
    }

    .table-wrapper-action::before {
        content: "\f067";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        display: inline-block;
        font-size: 20px; 
    }
}

@media screen and (max-width: 675px) {
    .indent-container {
        flex-direction: column;
    }

    .indent-container-left {
        width: 100%;
    }

    .indent-container-right {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    header h2 {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 500px) {
    .nav-mobile.active {
        width: calc(100% - 40px);
    }
}