@media screen and (max-width: 1096px) {
    .nav-mobile-icon {
        display: block;
    }

    .main-wrapper > .nav {
        margin-left: -260px;
    }

    .main-wrapper main {
        margin-left: 0px;
        width: 100%;
    }

    header {
        margin-left: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .flex {
        flex-wrap: wrap;
    }

    .flex > .col-6 {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    header h2 {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 500px) {
    .nav-mobile.active {
        width: calc(100% - 40px);
    }
}