.nav-mobile-icon {
    margin-right: 20px;
    display: none;
}

.nav-mobile {
    width: calc(260px - 20px);
    height: calc(100% - 40px);
    position: fixed;
    z-index: 2;
    background-color: #fff;
    margin-left: -280px;
    margin-top: 20px;
    border-radius: 20px;
    transition: all 0.4s;
}

.nav-mobile.active {
    margin-left: 20px;
}

@media screen and (max-width: 1096px) {
    .nav-mobile-icon {
        display: block;
    }

    .main-wrapper > .nav {
        margin-left: -260px;
    }

    .main-wrapper main {
        margin-left: 0px;
        width: 100%;
    }

    header {
        margin-left: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .flex {
        flex-wrap: wrap;
    }

    .flex > .col-6 {
        width: 100%;
    }
}