.nav {
    width: 260px;
    height: 100vh;
    position: fixed;
    transition: all 0.2s;
}

.nav .nav-title {
    padding: 20px;
    display: flex;
    align-items: center;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    gap: 15px;
}

.nav .nav-title > svg {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.nav .nav-title-separator {
    display: flex;
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, rgba(224, 225, 226, 0) 0%, rgb(224, 225, 226) 49.52%, rgba(224, 225, 226, 0) 100%);
}

.nav nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.nav nav > a {
    width: 220px;
    height: 54px;
    border-radius: 15px;
    color: #A0AEC0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 15px;
    font-weight: bold;
    transition: all 0.2s;
}

.nav nav > a .icon {
    width: 30px;
    height: 30px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #51d3c9;
    transition: all 0.2s;
}

.nav nav > a.active,
.nav nav > a:hover {
    background-color: #fff;
    color: #000;
}

.nav nav > a.active .icon, 
.nav nav > a:hover .icon {
    background-color: #51d3c9;
    color: #fff;
}

/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------- NAV MOBILE ------------------------------------------ */
/* ----------------------------------------------------------------------------------------------- */
.nav-mobile-icon {
    display: none;
    margin-left: 10px;
    font-size: 22px;
    color: #a6aebf;
}

.nav-mobile {
    width: calc(260px - 20px);
    height: calc(100% - 40px);
    position: fixed;
    z-index: 2;
    background-color: #fff;
    margin-left: -280px;
    margin-top: 20px;
    border-radius: 20px;
    transition: all 0.4s;
    padding: 20px;
}

.nav-mobile.active {
    margin-left: 20px;
}

.nav-mobile .nav-title {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
}

.nav-mobile .nav-title > svg {
    width: 40px;
    height: 40px;
}

.nav-mobile .nav-title-separator {
    display: flex;
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, rgba(224, 225, 226, 0) 0%, rgb(224, 225, 226) 49.52%, rgba(224, 225, 226, 0) 100%);
    margin: 15px 0px;
}

.nav-mobile > nav > a {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 45px;
    color: #A0AEC0;
    border-radius: 15px;
    font-weight: bold;
}

.nav-mobile > nav > a .icon {
    width: 30px;
    height: 30px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #51d3c9;
    transition: all 0.2s;
}

.nav-mobile > nav > a.active,
.nav-mobile > nav > a:hover {
    background-color: #fff;
    color: #000;
}

.nav-mobile > nav > a.active .icon,
.nav-mobile > nav > a:hover .icon {
    background-color: #51d3c9;
    color: #fff;
}


/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------- NAV MOBILE ------------------------------------------ */
/* ----------------------------------------------------------------------------------------------- */
.nav-mobile-bottom {
    width: 100%;
    background-color: #fff;
    height: 68px;
    position: fixed;
    z-index: 1001;
    margin-bottom: -60px;

    height: calc(68px + env(safe-area-inset-bottom));
    bottom: env(safe-area-inset-bottom);
    left: 0;
    right: 0;
    padding-bottom: env(safe-area-inset-bottom);
}

.nav-mobile-bottom > nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-mobile-bottom > nav > a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.nav-mobile-bottom > nav > a.active {
    background-color: #51d3c9;
    box-shadow: 0px 5px 5px #ddd;
}

.nav-mobile-bottom > nav > a .icon {
    font-size: 21px;
    color: #848A94;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.nav-mobile-bottom > nav > a.active .icon {
    color: #fff;
}